
/* ----------------------------------- */
/* Variables */
/* ----------------------------------- */

$color-white: #fff;
$background-color: #e4e1e1;
$brand-color: #625655;

$grid-color: $brand-color;

$back-image: 'http://lh4.ggpht.com/w-9ruGKvMxcvzBn4hhRICkisIP5U05xD2bNthIWO8hb62h24zcMgj76LTdLA15sS8CFh9AQHioRLgNisR0TnftamgGmY=s0';

/* ----------------------------------- */
/* Mixins */
/* ----------------------------------- */

@mixin text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin clearfix() {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin scale($scale) {
	-webkit-transform: scale($scale);
	transform: scale($scale);
}

/* ----------------------------------- */
/* Basic setup */
/* ----------------------------------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: $color-white;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

/* ----------------------------------- */
/* Main Image Section */
/* ----------------------------------- */

#my-navbar-toggler {
	padding: 0;
}

.jumbotron {
	min-width: 100%;
	height: 500px;
	background: url($back-image) center;
	background-size: cover;
	&:hover {
		cursor: pointer;
	}
	border-radius: 0 !important;
}

#my-brand {
	font-size: 26px;
	font-weight: 500;
	color: $brand-color;
}

/* ----------------------------------- */
/* Collection section */
/* ----------------------------------- */

/*
<div class="outer-box col-xs-12 col-sm-6 col-md-4 col-lg-3">\
    <figure class="box js--select-item" data-item-id="{{1}}">\
        <div><img src="{{5}}" alt="{{6}}"></div>\
        <figcaption class="caption">\
            <h2 class="text-center">{{2}}</h2>\
            <p class="text-center">{{3}}</p>\
        </figcaption>\
    </figure>\
</div>';
*/
/*
https://stackoverflow.com/questions/14562457/center-oversized-image-in-div

*/
.collection {
	// display: flex;
	// display: inline-block;

	background-color: $background-color;
	text-align: center; // center images
	.outer-box {
		margin-top: 20px; // provide some space at the top of the image
		figure {
			// size is set by bootstrap grid
			padding: 0;
			margin: 0;
			div {
				height: 300px;
				//width: 400px;        // usually, set the width
				width: 100%; // as grid size is set in figure
				overflow: hidden; // hide what cannot be shown

				img {
					height: 100%; // use all of the height, determined by containing div
					width: auto; // width is based on the image height

					margin-left: 50%; // shift right 50% of the parent
					transform: translateX(-50%); // shift left 50% of this element

					&:hover {
						// @include scale(1.05);    // fails when using transform on the parent
						cursor: pointer;
						height: 102%; // expand vertically as height is fixed.
					}
				}
			}

			figcaption {
				h2 {
					margin: 0;
					padding-top: 10px;
					font-weight: 400;
					font-size: 15px;
					@include text-truncate;
				}
				p {
					margin: 0;
					padding-top: 6px;
					font-weight: 700;
					font-size: 17px;
					@include text-truncate;
				}
			}
		}
	}
}

/* ----------------------------------- */
/* Details section */
/* ----------------------------------- */

.details .outer-box {
	margin-top: 80px;
	img {
		&:hover {
			@include scale(1.05);
			cursor: pointer;
		}
	}
	.art-header {
		h2 {
			font-size: 28px;
			margin-top: 40px;
		}
		p {
			font-size: 18px;
			font-weight: 400;
			margin-top: 25px;
		}
	}
	.art-details {
		margin-top: 20px;
		font-size: 18px;
		p {
			line-height: 20px;
		}
		.artist {
			margin-top: 35px;
			.artist-name {
				font-size: 28px;
				font-weight: 500;
				margin-bottom: 16px;
			}
		}
	}
}

/* ----------------------------------- */
/* Events section */
/* ----------------------------------- */

.events {
	div {
		margin-bottom: 25px;
	}
	.tour-description {
		padding-top: 15px;
		padding-bottom: 10px;
		a {
			padding-left: 10px;
		}
	}
	.tour-time {
		a {
			padding-left: 30px;
		}
	}
}

/* ----------------------------------- */
/* Responsive */
/* ----------------------------------- */

@media only screen and (max-width: 640px) {
	.events .tour-time a {
		display: block;
		padding-left: 0;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	/*--- Mobile portrait ---*/
	#my-brand {
		font-size: 22px;
	}
	.jumbotron {
		height: 300px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 595px) {
	/*--- Mobile landscape ---*/
}
@media only screen and (min-width: 595px) and (max-width: 690px) {
	/*--- Small tablet portrait ---*/
}
@media only screen and (min-width: 690px) and (max-width: 800px) {
	/*--- Tablet portrait ---*/
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
	/*--- Small tablet landscape ---*/
}
@media only screen and (min-width: 1024px) and (max-width: 1224px) {
	/*--- Tablet landscape --- */
}
@media only screen and (min-width: 1224px) {
	/*--- Laptop --- */
}
@media only screen and (min-width: 1824px) {
	/*--- Large Screen --- */
}

/* Big tablet to 1200px (widths smaller than 1140px row) */

@media only screen and (max-width: 1200px) {
	body {
		//        background-color: darkorange;
	}
}

/* Small tablet to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
	body {
		//        background-color: chartreuse;
	}
}

/* Small phones to small tablets; from 481px to 767px */

@media only screen and (max-width: 767px) {
	body {
		//        background-color: beige;
	}
}

/* Small phones from 0 to 480px  */

@media only screen and (max-width: 480px) {
	body {
		//        background-color: aqua;
	}
}

