<!DOCTYPE html>
<html lang="en">

<head>
	<title>My Application Title</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Description, search engines will show this" />
	<meta name="keywords" content="Keyword1, Keyword2" />

	<!-- <meta name="google-site-verification" content="see TaskMuncher documentation for details" /> -->

	<meta name="author" content="John Vincent" />
	<!-- <link rel="author" href="https://plus.google.com/107711732062970686024" /> -->

	<!-- <meta http-equiv="refresh" content="0; URL='./collection/index.html'" /> -->

	<!-- <meta property="fb:app_id" content="see johnvincent.io/blog documentation for details" /> -->

	<!-- <meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="My Application Title" />
	<meta property="og:description" content="Description, search engines will show this" />

	<meta property="og:url" content="https://www.taskmuncher.com" />
	<meta property="og:image" content="https://www.taskmuncher.com/images/john-vincent.jpg" />
	<meta property="og:image:alt" content="John Vincent" />
	<meta property="og:image:width" content="449" />
	<meta property="og:image:height" content="449" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="My Application Title" />
	<meta name="twitter:description" content="Description, search engines will show this" />
	<meta name="twitter:site" content="johnvincentio" />
	<meta name="twitter:image" content="https://www.taskmuncher.com/images/john-vincent.jpg" />
	<meta name="twitter:creator" content="johnvincentio" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2196f3">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff"> -->

	<!-- Favicon -->
	<link rel="shortcut icon" href="./favicon.ico">

	<!-- Normalize CSS -->
	<!-- <link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css"> -->

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<!-- Google authentication -->
	<!-- <script src="https://apis.google.com/js/platform.js?onload=onLoadCallback" async defer></script>
	<script>
		var gapiPromise = (function () {
			return new Promise(function (resolve, reject) {
				window.onLoadCallback = function () {
					resolve();
				};
			});
		}());
		window.app = window.app || {};
		window.app.gapiPromise = gapiPromise;
	</script> -->

	<!-- Google Analytics -->
	<!-- <script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '<%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS_URL %>', 'ga');

		ga('create', '<%= htmlWebpackPlugin.options.GOOGLE_ANALYTICS_UA %>', 'auto');
		ga('send', 'pageview');
	</script> -->
	<!-- End Google Analytics -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

	<!-- Fonts, particularly for Material-UI -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- <link rel="stylesheet" type="text/css" href="vendors/bootstrap/bootstrap.css"> -->
	<link rel="stylesheet" type="text/css" href="vendors/css/normalize.css">


	<!-- My App -->
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<!-- start of application html -->

	<header class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a id="my-brand" class="navbar-brand" href="#">Rijks Museum Collection</a>
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button id="my-navbar-toggler" class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div id="navbarNavDropdown" class="navbar-collapse collapse">

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="js--nav-home nav-link" href="#">Home</a>
						<!-- <a class="nav-link" href="/">Home</a> -->
					</li>
					<li class="nav-item">
						<a class="js--nav-events nav-link" href="#">Events</a>
						<!-- <a class="nav-link" href="/">Register</a> -->
					</li>
				</ul>
			</div>
		</nav>

		<div class="js--main-image jumbotron" data-item-id="SK-C-374"></div>
	</header>

	<main role="main">

		<section class="js--search-sort"></section>

		<section class="events container js--events"></section>

		<section class="details container-fluid js--details"></section>

		<section class="collection container-fluid ">
			<div class="row js--collection"></div>
		</section>

		<section class="js--aboutus"></section>
	</main>

	<footer class="container-fluid text-center">
		<hr />
		<div class="row">
			<div class="col-lg-12">
				<ul class="nav nav-pills nav-justified">
					<li>
						<a href="/">© 2019 John Vincent</a>
					</li>
					<!-- <li>
						<a href="#">Terms of Service</a>
					</li>
					<li>
						<a href="#">Privacy</a>
					</li> -->
				</ul>
			</div>
		</div>
	</footer>

	<!-- end of application html -->

	<!-- jQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Optional JavaScript -->
	<!-- do not use the slim version if need ajax -->
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!-- old bootstrap -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="vendors/bootstrap/bootstrap.js"></script> -->

	<!-- Load JavaScript -->
	<script defer="defer" src="js/keys.js"></script>
	<script defer="defer" src="js/utils.js"></script>
	<script defer="defer" src="js/models/collection.js"></script>
	<script defer="defer" src="js/views/collection.js"></script>
	<script defer="defer" src="js/models/details.js"></script>
	<script defer="defer" src="js/views/details.js"></script>
	<script defer="defer" src="js/views/events.js"></script>
	<script defer="defer" src="js/app.js"></script>

</body>

</html>

<!-- <script>
	var WebFontConfig = {
		google: { families: [ 'Roboto:400,300,500:latin' ] }
	};
	(function() {
		var wf = document.createElement('script');
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
		wf.type = 'text/javascript';
		wf.async = 'true';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(wf, s);
	})();
</script> -->